.Header{

    background-color: rgb(12, 154, 179);
    width: 100%;
    height: 80px;
    display: flex;
    padding: 10px;
    position: fixed;
    z-index: 1;

}

.titulo{

    color: rgb(255, 255, 255);
    position: relative;
    bottom: 10px;
    left: 10px;
    
}

.busqueda{

    border-radius: 3px;
    border: solid white 1px;
    height: 30px;
    width: 500px;
    margin-top: auto;
    margin-bottom: auto;
    padding: 10px;
    position: relative;
    left: 40px;

}

h1 a{

    text-decoration: none;
    color: inherit;

}

.nav{

    display: flex;
    background-color: rgb(255, 255, 255);
    height: 40px;
    width: 100%;
    position: fixed;
    top: 80px;
    z-index: 1;

}

.section-principal{

    background-color: rgb(202, 241, 241);
    width: 100%;
    height: 1000px;
    margin: auto;
    padding: 25px;
    position: relative;
    top: 113px;

}

.Boton_Nav{

    padding: 1px;
    color: rgb(90, 90, 90);
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    border: 0px;
    cursor: pointer;
    border-bottom: solid rgb(255, 255, 255) 2px;
    transition: all 0.5s;

}

.Boton_Nav:hover{

    color: rgb(12, 154, 179);
    border-bottom: solid rgb(12, 154, 179) 2px;

}

.Fitness_Nav{

    background-color: rgb(255, 255, 255);
    width: 50%;
    height: 100px;
    position: fixed;
    top: 120px;
    z-index: 1;
    padding: 20px;
    border-bottom: solid rgb(12, 154, 179) 1px;
    border-right: solid rgb(12, 154, 179) 1px;
    text-align: center;

}

.Link_Nav{

    text-decoration: none;
    color: rgb(90, 90, 90);
    transition: all 0.5s;

}

.Link_Nav:hover{

    color: rgb(12, 154, 179);

}

.Deporte_Nav{

    background-color: rgb(255, 255, 255);
    width: 50%;
    height: 100px;
    position: fixed;
    top: 120px;
    right: 0px;
    z-index: 1;
    padding: 20px;
    border-bottom: solid rgb(12, 154, 179) 1px;
    border-left: solid rgb(12, 154, 179) 1px;
    text-align: center;

}

.Deporte_Nav_2{

    display: flex;
    justify-content: space-around;

}

